@{
    ViewData["Title"] = "Контакти";
}
<h1 class="transparent11 text-center">@ViewData["Title"]</h1>
<div class="text-center">
    <img src="https://freesofiatour.com/wp-content/uploads/2019/09/Photo-by-John-Matychuk-on-Unsplash-1200x675.jpg" height="350" />
<h3 class="transparent11" style="margin-top:40px">Адрес: ул. А. Стамболийски "20", Карлово<br />
   Емейл: parkingstop@gmail.com<br />
   Телефон: 0888888888</h3>
   </div>
