@{
    ViewData["Title"] = "Home Page";
}

<div class="text-end fw-bold" style="margin-top:50px;">
    <h1 class="display-4">PARKING STOP</h1>
    <p>НАЙ-ДОСТЪПНИТЕ ПАРКОМЕСТА!</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Zeichen_314_-_Parken%2C_StVO_2017.svg/200px-Zeichen_314_-_Parken%2C_StVO_2017.svg.png" width="220" align="middle" style="margin-top:50px; margin-right:20px" />
        <img src="https://www.wawanesa.com/resources/img/usa/blog-images/bigstock-The-Only-Vacant-Parking-Space--262193803-min.jpg" width="300" align="middle" style="margin-top:50px" />
</div>
